<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>
<body class="vh-120 index-body">
  {{>navbar}}

  <div class="home-content">

    <div class="welcomeMsg text-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-8 d-flex">
            <div class="te text-center ">
              <h1>Welcome to the MERN Backend Project</h1>
              <p>One of the best project on MERN Stack.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section id="about-section">
      <div class="container">
        <div class="row">

          <div class="col-md-4 d-flex justify-content-center">
            <div class="about-text border-right">
              <h3>Header1- About</h3>
              <p>This is a paragraph</p>
              <button class="btn btn-primary">More</button>
            </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <div class="about-text border-right">
              <h3>Header2- About</h3>
              <p>Just a paragraph</p>
              <button class="btn btn-primary">More</button>
            </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <div class="about-text border-right">
              <h3>Header3- About</h3>
              <p>This is a paragraph</p>
              <button class="btn btn-primary">More</button>
            </div>
          </div>

        </div>
      </div>
    </section>


    <section id="team-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="team-top-header text-center">
              <h3>Team Member</h3>
              <p>This is a paragraph</p>
            </div>

            <div class="container">
              <div class="row">

                <div class="col-md-4 d-flex justify-content-center">
                  <div class="team-member-id text-center">
                    <img src="" alt="" class="img-fluid rounder-circle">
                    <h3>Team Member1</h3>
                    <p>Co-founder</p>
                  </div>
                </div>

                <div class="col-md-4 d-flex justify-content-center">
                  <div class="team-member-id text-center">
                    <img src="" alt="" class="img-fluid rounder-circle">
                    <h3>Team Member2</h3>
                    <p>Co-founder</p>
                  </div>
                </div>

                <div class="col-md-4 d-flex justify-content-center">
                  <div class="team-member-id text-center">
                    <img src="" alt="" class="img-fluid rounder-circle">
                    <h3>Team Member3</h3>
                    <p>Co-founder</p>
                  </div>
                </div>

              </div>
            </div>
            

          </div>
        </div>
      </div>
    </section>


    <section id="recent-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="team-top-header text-center">
              <h3>Header- Recent</h3>
              <p>This is a paragraph</p>
            </div>

            <div class="row">

              <div class="col-md-6 d-flex justify-content-center">
                <div class="recent-text">
                  <img src="" alt="" class="img-fluid">
                  <h3>Headner1</h3>
                  <p>This is a paragraph</p>
                  <button class="btn btn-primary">More</button>
                </div>
              </div>

              <div class="col-md-6 d-flex justify-content-center">
                <div class="recent-text">
                  <img src="" alt="" class="img-fluid">
                  <h3>Headner2</h3>
                  <p>This is a paragraph</p>
                  <button class="btn btn-primary">More</button>
                </div>
              </div>
              
            </div>

          </div>
        </div>
      </div>
    </section>
    </div>  {{!-- end of home-content --}}

</body>
</html>