<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>
<body>
  {{>navbar}}
  

  <section id="about-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="about-text border-right">
            <h2>Header1</h2>
            <p>This is a paragraph</p>
            <button class="btn btn-primary">More</button>
          </div>
        </div>

        <div class="col-md-4">
          <div class="about-text border-right">
            <h1>Header2</h1>
            <p>Just a paragraph</p>
            <button class="btn btn-primary">More</button>
          </div>
        </div>

      <div class="col-md-4">
          <div class="about-text border-right">
            <h2>Header3</h2>
            <p>This is a paragraph</p>
            <button class="btn btn-primary">More</button>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section id="team-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="team-top-header text-center">
            <h2>Team Member</h2>
            <p>This is a paragraph</p>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="team-member-id text-center border">
                <img src="" alt="" class="img-fluid rounder-circle">
                <h2>Header4</h2>
                <p>Co-founder</p>
              </div>
            </div>

            <div class="col-md-3">
              <div class="team-member-id text-center border">
                <img src="" alt="" class="img-fluid rounder-circle">
                <h2>Header5</h2>
                <p>Co-founder</p>
              </div>
            </div>

            <div class="col-md-3">
              <div class="team-member-id text-center border">
                <img src="" alt="" class="img-fluid rounder-circle">
                <h2>Header6</h2>
                <p>Co-founder</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="recent-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="team-top-header text-center">
            <h2>Header7</h2>
            <p>This is a paragraph</p>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="recent-text">
                <img src="" alt="" class="img-fluid">
                <h2>Headner8</h2>
                <p>This is a paragraph</p>
                <button>More</button>
              </div>
            </div>

            <div class="col-md-6">
              <div class="recent-text">
                <img src="" alt="" class="img-fluid">
                <h2>Headner9</h2>
                <p>This is a paragraph</p>
                <button>More</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>