<!DOCTYPE html>
<html lang="en">
<head>
  <title>MERN- Login/Reg</title>
  {{>header}}
</head>
<body class="index-body">
  {{>navbar}}

  <div class="home-content">

    <div class="welcomeMsg text-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-12 d-flex">
            <div class="w-100 justify-content-center">
              <h2>Welcome to the MERN Backend Project</h2>
              <p>One of the best project on MERN Stack.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section id="recent-section">
      <div class="container">
        <div class="row">

          <div class="col-md-4 d-flex">
            <div class="about-text border-right text-center">
              <h4 class="text-center">Recent-1</h4>
              <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <button class="btn btn-primary">More</button>
            </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <div class="about-text border-right text-center">
              <h4 class="text-center">Recent-2</h4>
              <p class="text-center">It is a long established fact that a reader will be distracted by the readable content.</p>
              <button class="btn btn-primary">More</button>
            </div>
          </div>

          <div class="col-md-4 d-flex justify-content-center">
            <div class="about-text border-right text-center">
              <h4 class="text-center">Recent-3</h4>
              <p class="text-center">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
              <button class="btn btn-primary">More</button>
            </div>
          </div>

        </div>
      </div>
    </section>

    <hr class="team-hr"/>

    <section id="team-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="team-top-header text-center">
              <h4>Team Member</h4>
              <p>Founder</p>
            </div>

            <div class="container">
              <div class="row">

                <div class="col-md-4 d-flex justify-content-center">
                  <div class="team-member-id text-center">
                    <img src="" alt="" class="img-fluid rounder-circle">
                    <h4>Member1</h4>
                    <p>Co-founder</p>
                  </div>
                </div>

                <div class="col-md-4 d-flex justify-content-center">
                  <div class="team-member-id text-center">
                    <img src="" alt="" class="img-fluid rounder-circle">
                    <h4>Member2</h4>
                    <p>Co-founder</p>
                  </div>
                </div>

                <div class="col-md-4 d-flex justify-content-center">
                  <div class="team-member-id text-center">
                    <img src="" alt="" class="img-fluid rounder-circle">
                    <h4>Member3</h4>
                    <p>Co-founder</p>
                  </div>
                </div>

              </div>
            </div>
            

          </div>
        </div>
      </div>
    </section>

  <hr class="team-hr"/>

    <section id="about-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <div class="team-top-header text-center">
              <h4>About</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>

            <div class="row">
              <div class="col-md-6 d-flex justify-content-center">
                <div class="about-text text-center">
                  <img src="" alt="" class="img-fluid">
                  <h4>About1</h4>
                  <p>This is a paragraph</p>
                  <button class="btn btn-primary">More</button>
                </div>
              </div>

              <div class="col-md-6 d-flex justify-content-center">
                <div class="about-text text-center">
                  <img src="" alt="" class="img-fluid">
                  <h4>About2</h4>
                  <p>This is a paragraph</p>
                  <button class="btn btn-primary">More</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    
  </div>  {{!-- end of home-content --}}

</body>
</html>