<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">MERN</a>

    <div class="collapse navbar-collapse" id="navbarSupportContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a href="/" class="nav-link">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a href="/secret" class="nav-link">Secret</a>
        </li>
        <li class="nav-item">
          <a href="/register" class="nav-link">Registration</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</nav>