*{
  margin: 0;
  padding: 0;
  font-family:  Arial, Helvetica, sans-serif;
}

:root{
  --backgnd-color: #dce6f5;
}

.navbar{
  background-image: url('/images/nav_bar_img.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 8vh;
  width: 100%;
  padding: 0 5vw;
}
.navbar a{
  color: #272640;
}
.navbar-brand{
  font-size: 6vh;
  font-weight: 700;
  font-family:Verdana;
}

#navbarSupportContent{
  padding: 0 2vw;
}
#navbarSupportContent li{
  padding: 0.3vw;
  font-size: 1.1rem;
  font-weight: 600;
}
#navbarSupportContent ul{
  margin-left:auto;
  margin-right:0;
}

.welcomeMsg{
  text-align: center;
  margin-bottom: 3vh;
}
.welcomeMsg h2,.welcomeMsg p{
  font-family: Georgia, serif;
}
.welcomeMsg h2{
  /* background-color: #fff;  */
  color: #11235f;
  text-shadow:
    0 1px #6e82c5,
    -1px 0 #cdd2d5,
    -1px 2px #6e82c5,
    -2px 1px #cdd2d5,
    -2px 3px #6e82c5,
    -3px 2px #cdd2d5,
    -3px 4px #6e82c5,
    -4px 3px #cdd2d5,
    -4px 5px #6e82c5,
    -5px 4px #cdd2d5;
}

/* ---------x--------- */
.index-body{
  background-image: linear-gradient(#bfc9da, #DCE6F5);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 0 5vw;
  padding-bottom: 5vh;
}

.home-content{
  padding-top: 11vh;
}
.home-content p{
  /* font-size: 1.1rem; */
  font-family: "Times New Roman", Times, serif;
}

#recent-section{
  /* font-size: 1.2rem; */
  margin-bottom: 3vh;
}

.team-hr{
  width: 55%;
  margin: 2vh auto 2vh auto;
  border-top: 2px dashed rgb(106, 91, 126);
  box-shadow: 0.3rem 0.3rem grey, -0.3rem -0.3rem grey;
}
/* ---------x--------- */

.register-body{
  background-color: var(--backgnd-color);
  margin-top: 20vh;
}
.register-right{
  background-image: linear-gradient(#bfc9da, #DCE6F5);
  padding: 1rem;
  border: 0.1vh solid #8ECAE6;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.register input{
  margin-bottom: 0.5vh;
}
.register-heading{
  margin: 2vh 0;
}
.register .maxl{
  margin: 1.5vh 0;
}
.radOpt1{
  margin-right: 2vw;
}
.register input[type=submit]{
  margin: 2vh 0;
  background-color: #42A5F5;
}

/* ---------x--------- */
.login-body{
  background-color: var(--backgnd-color);
  margin-top: 20vh;
}
.login-body input{
  margin-bottom: 0.5vh;
}
/* .login-body .img-wrapper{
  margin: 0 auto;
} */
.login-image{
  padding-top: 0;
  padding-bottom: 2vh;
  height: 15vh;
}
.loginTotalDiv{
  background-image: linear-gradient(#bfc9da, #DCE6F5);
  padding: 1rem;
  border: 0.1vh solid #8ECAE6;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* ---------x--------- */